{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Sistema di Gestione Museo</h1>
    <p class="lead">Benvenuto nel sistema di gestione del museo. Utilizza il menu di navigazione per accedere alle diverse funzionalità.</p>
    
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Scelta Biglietto</h5>
                    <p class="card-text">Consulta opere, sezioni e visite guidate disponibili.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Acquisto Biglietto</h5>
                    <p class="card-text">Registra visitatori e gestisci l'acquisto dei biglietti.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Amministrazione</h5>
                    <p class="card-text">Gestisci restauri, visite guidate e statistiche.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}